
@media (max-width: 499px){
  h1::before {
    content: "Contact";
  }
}

.home_intro,#services,.back-home-link{
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}
.CompanyName, .spage-para-header{
  font-weight: bold;
  text-decoration: underline;
  color: Green;
}

ul{
  display: table;
  margin: 0 auto;
}

.spage{
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
th{
  background-color: Green;
  color: white;
  text-align: center;
  border: 2px solid black;
  padding: 5px;
}

.mytable tr,td{
  text-align: center;
  border: 2px solid black;
  padding: 5px;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}
